{{ template "base.gohtml" . }}

{{ define "content" }}
    <div class="flex justify-center pa3">
        <div class="w8 flex flex-column g2 f3">
            <div>We couldn&apos;t find the page you requested.</div>
        </div>
    </div>
{{ end }}

